#top-nav{
	z-index: 1000 !important;
}
#top-section{
	position:fixed;
    margin: 0 auto;
    top: 0px;
    left:0;
    right:0;
    color:#fff;
    z-index:5000;
    width:100%;
	background: #fff;
	
}
#top-right{
	margin-right: -20px;
}
#top-right a{
	border-left: 1px solid #C5C5C5;
	border-right: 1px solid #C5C5C5;
	display: block;
	float: left;
	font-weight: 400;
	font-size: 13px;
	color: #6e7271!important;
	line-height: 30px;
	padding: 0 8px;
	float: right;
}
#top-head{
	position:fixed;
    margin: 0 auto;
    left:0;
    right:0;
    color:#fff;
    z-index:5000;
    width:100%;
	background: #054b9a;
	top:30px;
	height: 70px;
	width: 100%;
}
.brand-logo{
	height: 65px;
	padding-left: 28px;
	padding-top:5px;
}
#small{
	padding-top: 10px;
}
.brand-name{
	font-size: 23px;
	color: #fff;
	padding-left: 15px;
	margin-top: 20px !important;
}
#main-content{
	margin-top:160px;
}
#main-content2{
	margin-top:80px;
}
#top-menu{

}
#top-menu > li{
	border-left: 1px solid #415b98;
	color: #fff;
	float: left;
	font-size: 14px;
	list-style: none;
	margin: 0;
	padding: 0;
}
#top-menu > li:last-child {
  border-right: 2px solid #415b98;
}
#top-menu > li > a{
	color: #fff;
  	display: block;
  	font-size: 14px;
  	padding: 24px 10px;
  	border-left: 1px solid #415b98
}
#top-menu > li > a:hover{
	color: #fff;
	background-color: #4787d0;
}
#top-menu >li .course-menu{
	background: #fff;
	right: 0px;
	left: 0px;
	position: absolute;
	display: none;
	box-shadow: 1px 1px 3px 1px rgba(0, 0, 0, 0.35);
	min-height: 495px;
}
#top-menu > li:hover > .course-menu{
	display: block;
}
.course-menu >ul{
	list-style: none;
	margin-left: 18%;
	margin-top: 10px;
}
.course-menu >ul >li{
	float: left;
	clear: both;
	margin-bottom: 5px;
	border-left:3px solid #4787d0;
	color:#333;
	font-size: 14px;
	padding-top: 3px;
	padding-bottom: 3px;
	padding: 3px 15px;
}
.course-menu > ul > li  >a{
	
}
.course-menu > ul > li >a:hover {
	border-bottom: 2px solid #4787d0;
}

.course-menu > ul > li > .subject-menu{
	position: absolute;
	border-left:1px solid #DDDDDD;
	float: right;
	display: none;
	top:0;
	bottom: 0;
	left:330px;
	right: 0px;
}
.course-menu > ul > li > .subject-menu h4{
	padding:0px 15px;
	font: 18px;
}

.subject-menu >li{
	display: table-cell;
	padding:5px 10px;
	width: 175px;
}
.subject-menu >li a{

}
.content-card{
	margin-left: 40px;
	margin-right: 40px;
	background: #fff;
	z-index: -100;
	padding:10px 30px;
}
.topic-menu li{
	list-style: circle;
}
.topic-menu >li >a{
	font-size: 13px;
}
.article-content{
	text-align: justify;
}
.videowrapper {
    float: none;
    clear: both;
    width: 100%;
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 25px;
    height: 0;

}
.videowrapper iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    
}
.login_dialouge_heading{
	background-color:#054b9a;
	color:#fff;
	font-size: 16px;
	padding: 10px 10px;
}
.ev-alert{
	top:130px;
	right:20px;
	position: absolute;
	z-index: 8000;
}
@media only screen and (max-width: 64.0625em) {
	#main-content{
		margin-top:70px;
	}
}
@media only screen and (max-width: 40em) {
	#main-content{
		margin-top:70px;
	}
}
.user-nav{
	position:fixed;
    left:0;
    right:0;
    color:#fff;
    z-index:5000;
    width:100%;
	background: #054b9a;
	width: 100%;
}
.user-head{
	position:fixed;
    left:0;
    right:0;
    color:#fff;
    z-index:5000;
    width:100%;
	background: #054b9a;
	height: 70px;
	width: 100%;
}
#search-bar{
	margin-top:15px;
	border-radius:3px
}
.pro-brand{
	color:#fff;
	float: right;
	margin-top: 18px;
	font-size: 20px;
	margin-right: 30%;
}
.usr-img{
	height:40px;
	border-radius: 20px;
}
#pro-menu > li{
	color: #fff;
	float: left;
	font-size: 14px;
	list-style: none;
	margin: 0;
	padding: 0;
}

#pro-menu > li > a{
	color: #fff;
  	display: block;
  	font-size: 14px;
  	padding: 15px 10px;
}
#pro-menu > li > a:hover{
	color: #fff;
	background-color: #4787d0;
	border-radius: 3px;
}
.usr-active{
	color: #fff;
	background-color: #4787d0;
	border-radius: 3px;
}
.ev-alert-pro{
	top:100px;
	right:20px;
	position: absolute;
	z-index: 9000;
}
.user-menu{
	position: fixed;
	height: 40px;
	background: #fff;
	top:70px;
	width: 100%;
	z-index: 1000;
	border-bottom: 1px solid #bbb;
}
.user-menu > ul{
	margin-left: 4%;
	padding:5px;
}
.user-menu > ul >li{
	display: inline-block;
	padding:0px 10px;
}
.user-menu >ul >li >a{
	color: #666;
	font-size: 13px;
	padding: 0px 5px;
}
.user-menu >ul >li :hover{
	border-bottom: 3px solid #4787d0;
	padding-bottom: 10px;
}
.question-card{
	background: #fff;
	margin: 10px;
	padding: 20px;
}
.question-panel{
	font-size: 12px;
}
.sub-menu{
	position: absolute;
	z-index: 2000;
	box-shadow: 1px 1px 3px 1px rgba(0, 0, 0, 0.35);
	padding:0px 10px;
	display: none;
	background: #fff;
	list-style: none;
}
.sub-menu >li {
	padding:5px 5px;
}
.sub-menu >li > a{
	font-size: 13px;
}

.video-media{
	padding: 10px 15px;
	background-color: #F9F9F9;
  	position: relative;
  	margin-top: -20px;
}
#video-btn{
	color: #FFF;
	display: block;
	height: 1.8125rem;
	padding: 0px;
	margin-top: 24px;
	position: relative;
	text-indent: 2.1875rem;
	transform: translate3d(0px, 0px, 0px);
	width: 2.8125rem;
	text-indent: -1.15rem;
	font-size: 18px;
}

#GoogleBtn {
      display: inline-block;
      background: #dd4b39;
      color: white;
      width: 200px;
      white-space: nowrap;
    }
    #GoogleBtn:hover {
      background: #e74b37;
      cursor: hand;
    }
    span.label {
      font-weight: bold;
    }
    a > img {
      display: inline-block;
      vertical-align: middle;
      width: 35px;
      height: 35px;
      border-right: #bb3f30 1px solid;
    }
    #GoogleBtn >a.buttonText {
      display: inline-block;
      vertical-align: middle;
      padding-left: 10px;
      padding-right: 5px;
      font-size: 15px;
	  padding-top: 5px;
	  padding-bottom: 5px;
      font-weight: bold;
      /* Use the Roboto font that is loaded in the <head> */
      font-family: 'Roboto',arial,sans-serif;
      color: white;
    }
.facebookButton {
    display: inline-block;
    background: #627aac left no-repeat;

    border-top: 1px solid #29447e;
    border-right: 1px solid #29447e;
    border-bottom: 1px solid #1a356e;
    border-left: none;

    height: 35px;
    width: 200px;

    padding-right: 7px;
    padding-left: 7px;
    padding-top: 5px;
    padding-bottom: 7px;
    font-weight: bold;
    font-size: 14px;
    color: white;
    text-decoration: none;
    font-family: "lucida grande", tahoma, verdana, arial, sans-serif;
    line-height: 22px;

    cursor: pointer;
}
.facebookButton >a{
	color: white;
}
.lit-top{
	background-image:url('../img/a.jpg');
    background-repeat:no-repeat;
    background-size:cover;
    background-position:center;
	-webkit-background-size:cover;
	-moz-background-size:cover;
	-o-background-size:cover;
	height:120px;
}
.lit-top-text{
	color:#fff;
	text-align: center;
	font-size: 36px;
}
.ev-box{
	height:220px;
	border:1px solid #dfdfdf;
	margin-bottom: 10px;
}
.ev-box-head{
	background: #4794ca;
	padding: 10px;
	font-size: 13px;
	font-weight: bold;
	color:#fff;
	text-align: center;
}
.panel-head{
	background: #fff;
	border: #dfdfdf 1px solid;
	text-align: center;
	font-size: 18px;
	padding:5px;
}
.lt-menu{
	margin-left: -1px;
}
.lt-menu > li{
	display: inline-block;
	padding: 10px 15px;
}
.lt-menu >li >a{
	text-decoration:none;
    color:#fff;
}
.vi-menu{
	margin-left: -1px;
}
.vi-menu > li{
	display: inline-block;
	padding: 10px 15px;
}
.vi-menu >li >a{
	text-decoration:none;
    color:#fff;
    font-size: 14px;
}
.lit-cat{
	list-style: none;
	background: #14B3B9;
	padding: 10px 15px;
	margin-left: -3px;
}
.lit-cat >a {
	color:#fff;
}

.sub-menu-lit{
	position: absolute;
	box-shadow: 1px 1px 3px 1px rgba(0, 0, 0, 0.35);
	padding:0px 10px;
	display: none;
	background: #fff;
	list-style: none;
	left:30%;
	top:43px;
	right:6%;
	z-index: 2000;
}
.sub-menu-lit >li {
	padding:5px 5px;
	text-align: center;
}
.sub-menu-lit >li > a{
	font-size: 13px;
}

#slit-list{
	list-style: none;
}
#slit-list > li{
	display: inline-block;
	border-right: 2px solid #3D8490;
	padding: 0px 10px;
}
#slit-list > li:last-child {
  border-right: 0px solid #415b98;
}
#slit-list > li > a{
	text-transform: capitalize;
	font-size: 13px;
	padding-right: 5px;
	padding-left: 5px;
}
.sb{
	list-style: none;
	margin-left: -10px;
}
.sb > li{
	display: inline-block;
	border-right: 2px solid #3D8490;
	padding: 0px 10px;
}
.sb > li:last-child {
  border-right: 0px solid #415b98;
}
.sb > li > a{
	text-transform: capitalize;
	font-size: 13px;
	padding-right: 5px;
	padding-left: 5px;
}
.book-link{
	background: #4787d0;
	color: #fff;
	padding: 5px;
	border-radius: 2px;
	margin-right: 3px;
	font-size: 12px;
}
.book-desc{
	background: #F5C26B;
	color: #fff;
	padding: 5px;
	border-radius: 2px;
	font-size: 12px;

}
.book-link:hover{
	color: #fff;
}
.book-desc:hover{
	color:#fff;
}
.latest-pane{
	background: #57C1E4;
	color: #fff;
	border:2px solid #fff;
	padding: 2px;
}
.latest-pane > h6{
	color: #fff;
	padding-top: 10px;
}
.seperator{
	border-top: 2px #fff dotted;
}
.latest-pane > ul li a{
	color:#fff;
}
.usr-img-preview{
	height:150px;
	width: 150px;
	cursor: pointer;
}
.usr-img-preview:hover{
	opacity: 0.6;
    filter: alpha(opacity=60);
}
#imgInp{
	display: none;
}
.loading{
	display: none;
	text-align: center;
	height: 1.6;
}
#subl-vi{
	list-style: none;
	font-size: 13px;
	margin-top: 10px;
}
#sub-vi > li > a{
	font-size: 13px;
}
.vis{
	list-style: none;
}
.vis > li > a{
	font-size: 13px;
}
.ev-pane{
	border-style: solid;
	border-width: 1px;
	border-color: #d8d8d8;
	background: #ecfaff;
	margin-bottom: 10px;
}
#drpLanguage{
	width: 100%;
}
.comment-box{
	display: none;
}
.cmnt{
	border: 1px solid #dfdfdf;
	margin: 5px 0px;
	padding: 5px;
}
.res{
	border: 1px solid #dfdfdf;
	margin: 5px 0px;
	padding: 5px;
	background: #f0f0f0;
}